
.vs/CsvParser/v15/.suo
.vs/CsvParser/v15/Server/sqlite3/storage.ide
.vs/CsvParser/v15/Server/sqlite3/storage.ide-shm
.vs/CsvParser/v15/Server/sqlite3/storage.ide-wal
CsvParser/obj/Debug/CsvParser.pdb
CsvParser/bin/Debug/CsvParser.pdb
.vs/CsvParser/v15/Server/sqlite3/storage.ide
.vs/CsvParser/v15/Server/sqlite3/storage.ide-wal
CsvParser/obj/Debug/CsvParser.pdb
UnitTest/bin/Debug/CsvParser.pdb
UnitTest/bin/Debug/UnitTest.pdb
UnitTest/obj/Debug/UnitTest.csprojAssemblyReference.cache
*.pdb
.vs/CsvParser/v15/Server/sqlite3/storage.ide-wal
.vs/CsvParser/v15/Server/sqlite3/storage.ide
.vs/CsvParser/v15/.suo
.vs/CsvParser/v15/.suo
.vs/CsvParser/v15/.suo
